{% extends "base_generic.html" %}

{% block customhead %}

{% endblock %}

{% block content %}
<div class="ctutor-content-header">
    <h1>Code Submission Error</h1>
</div>
<div class="ctutor-main-content-inner">
    <div class="alert alert-block alert-danger">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span>No results found! You may need to change the threshold percentage or include more code. Please try again!</span>
    </div>
    <a href="{% url 'code-form' %}">
        <input class="btn btn-primary" type="button" value="Try Again" />
    </a>
</div>
{% endblock %}
