{% extends "base_generic.html" %}

{% block customhead %}

{% endblock %}

{% block content %}
<div class="ctutor-content-header">
    <h1>Code Submission</h1>
    <p>This is where you can submit code in order to compare it to our database of other code.</p>
</div>
<div class="ctutor-main-content-inner">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="student_name" class="form-label">Student Username</label>
            <input type="text" class="form-control" id="student_name" name="student_name" value="{{ user.get_username }}" readonly>
        </div>
        <div class="mb-3">
            <label for="code" class="form-label">Code Fragments</label>
            <textarea rows="8" cols="40" class="form-control" aria-label="code-fragments" id="code" name="code"></textarea>
        </div>
        <div class="mb-3">
            <label for="threshold" class="form-label">NiCad Threshold</label>
            <select class="form-control form-select" aria-label="NiCad Threshold" id="threshold" name="threshold">
                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="30" selected>30%</option>
                <option value="40">40%</option>
                <option value="50">50%</option>
                <option value="60">60%</option>
                <option value="70">70%</option>
                <option value="80">80%</option>
                <option value="90">90%</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <p>You must login to see this page.</p>
    {% endif %}
    {% endblock %}
</div>
