{% extends "base_generic.html" %}

{% block customhead %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="ctutor-content-header">
  <h1>Code Selection</h1>
</div>
<div class="ctutor-main-content-inner">
  <form method="post">
  {% csrf_token %}

  {% for clazz in result.class %}
  {% for src in clazz.source %}
  <div class="ctutor-code-select-card">
    <div class="card w-100 mb-3">
        <div class="card-body">
            <p class="card-text">Solution {{ src.attrib.pcid }} : Lines {{ src.attrib.startline }} - {{ src.attrib.endline }}</p>
            <pre>
              <code>
                  {{ src.text|linebreaksbr }}
              </code>
            </pre>
        </div>
        <div class="card-footer">
            <input class="form-check-input" type="radio" name="file" id="file" value="{{src.attrib.file}}" checked>
            <label class="form-check-label" for="file">
              Select this code snippet
            </label>
        </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  <input type="submit" class="btn btn-primary" value="Submit">
  <form method="post">
</div>
{% endblock %}