{% extends "base_generic.html" %}

{% block customhead %}
<link rel="stylesheet" href="/static/styling/questionform.css">
<script src="/static/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}
<!-- TODO: fix label not disappearing when typing -->

<div class="mdc-typography--headline6 header">
    <h1>Question Submission</h1>
    <p>This is where you can submit a question for help from peers.</p>
</div>
<div class="content">
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Student ID</td>
                <td>
                <label class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <!-- <span class="mdc-floating-label" id="student-id">ex. 123456</span> -->
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="student-id" id="student_id" name="student_id">
                </label>
                </td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td>
                <label class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <!-- <span class="mdc-floating-label" id="student-name">ex. John Doe</span> -->
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="student-name" id="student_name" name="student_name">
                </label>
                </td>
            </tr>
            <tr>
                <td>Project VCS Link</td>
                <td>
                <label class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <!-- <span class="mdc-floating-label" id="vcs-link">ex. https://github.com/johndoe/project</span> -->
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="vcs-link" id="vcs" name="vcs">
                </label>
                </td>
            </tr>
            <tr>
                <td>Categories</td>
                <td>
                <!-- turning this into a dropdown list that allows searching and multi select (a la sending an email to multiple recipients) would be best imo-->
                <!-- mdc-chip-set gets the styling, NOT mdc-evolution-chip -->
                <div class="mdc-chip-set mdc-chip-set--filter">
                    <div class="mdc-chip">
                        <span class="mdc-chip__ripple mdc-chip__ripple--primary"></span>
                        <!-- will need to add actions/buttons -->
                        <div class="mdc-chip__text">Tag One</div>
                    </div>
                    <div class="mdc-chip">
                        <span class="mdc-chip__ripple mdc-chip__ripple--primary"></span>
                        <div class="mdc-chip__text">Tag Two</div>
                    </div>
                    <div class="mdc-chip">
                        <span class="mdc-chip__ripple mdc-chip__ripple--primary"></span>
                        <div class="mdc-chip__text">Tag Three</div>
                    </div>
                </div>
                </td>
            </tr>
        </table>
        <div>
            <p>Description</p>
            <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--no-label">
                <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
                </span>
                <span class="mdc-text-field__resizer">
                <textarea class="mdc-text-field__input" rows="8" cols="40" aria-label="code-fragments" id="description" name="description"></textarea>
                </span>
            </label>
        </div>
        <br>
        <input type="submit" class="mdc-button mdc-button--raised" value="Submit">
    <form>
</div>


{% endblock %}