{% extends "base_generic.html" %}

{% block customhead %}
<script src="/static/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}

<div class="ctutor-content-header">
    <h1>Question Submission</h1>
    <p>This is where you can submit a question for help from peers.</p>
</div>
<div class="ctutor-main-content-inner">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="student_name" class="form-label">Student Username</label>
            <input type="text" class="form-control" id="student_name" name="student_name" value="{{ user.get_username }}" readonly>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Question Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" required>
            <div id="titleHelp" class="form-text">Enter a brief description of your question here.</div>
        </div>
        <div class="mb-3">
            <label for="vcs" class="form-label">Project VCS Link</label>
            <input type="text" class="form-control" id="vcs" name="vcs" aria-describedby="vcsHelp">
            <div id="vcsHelp" class="form-text">Enter the link to your project's version control system, such as a GitHub link.</div>
        </div>
        <div>
            <label for="descripton" class="form-label">Description</label>
            <textarea rows="8" cols="40" aria-label="code-fragments" id="description" name="description"></textarea>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Submit">
    <form>
    {% else %}
    <p>You must login to see this page.</p>
    {% endif %}
</div>
{% endblock %}
