/* base_generic styling */
.column {
    float: left;
    padding: 10px;
}

.mdc-drawer {
    width: 12%;
    height: 100vh;
}

.content-drawer {
    /* note that if this + mdc-drawer width = 100 then this column will get pushed off screen */
    width: 85%;
}

/* index styling */
.question-content-title {
    padding-bottom: 10px;
}

.question-card {
    margin: 16px;
}

/* question-form styling */
td {
    padding-right: 15px;
    height: 60px;
}

.mdc-text-field__input {
    width: 750px;
}

.description {
    height: 100px;
}