/* base_generic styling */
.column {
    float: left;
    padding: 10px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-drawer {
    width: 12%;
    height: 100vh;
}

.content-drawer {
    /* note that if this + mdc-drawer width = 100 then this column will get pushed off screen */
    width: 85%;
}

/* index styling */
.question-content-title {
    padding-bottom: 10px;
}

.question-card {
    margin: 16px;
}

/* question-form styling */
.question-field {
    padding-right: 15px;
    height: 60px;
}

.mdc-text-field__input {
    width: 750px;
}

.description {
    height: 100px;
}

.header {
    padding: 30px;
}

.header-headline {
    padding-left: 6px;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    max-width: 1500px;
}

.login {
    width: 300px;
}



/* question viewer styling */
.question-sidebar-action {
    padding-top: 5px;
    padding-bottom: 5px;
}

.question-sidebar-action-button {
    min-width: 250px;
    max-width: 250px;
    align: left;
}

/* code selection */
.code-select-card {
    margin: 16px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
}
