{% extends "base_generic.html" %}

{% block customhead %}
{% load crispy_forms_tags %}
{% endblock %}

{% block content %}
<div class="ctutor-content-header">
    <h1>Change Password</h1>
</div>
<div class="ctutor-main-content-inner">
    <form method="post" >  
        {% csrf_token %}  
        <table>  
            {{ form|crispy }}  
            <tr>  
                <td></td>  
                <td><input class="btn btn-primary" type="submit" name="submit" value="Change Password" /></td>  
            </tr>  
        </table>  
    </form>
</div>


{% endblock %}